h1, h2, h3, p{
    color:#59715D;
    font-family: Helvetica;
}
h1{
    margin-bottom: 70px;
    font-size: 70px;
}
h2{
    margin-bottom:50px;
    font-size: 40px;
}

body{
    background-color: #E8FCEC;
    margin: 0 auto;
   
   
}
a{
    text-decoration: none;
    font-size: 40px;
}
a:hover { 
  background-color: #F4F09F;
}

 li{
    float: left; text-decoration: none; padding: 45px; list-style-type: none;
     font-family: Helvetica;
   
}

h3{
    margin-top: 200px;
}
